################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
# Visual Studio and .NET build files
.vs/
*.vsidx
*.vsidx.lock
*.suo
*.user
*.cache
*.pdb
*.obj
*.exe
*.dll
*.log
*.tmp
*.ncb
*.opendb
*.VC.db

# Build artifacts
bin/
obj/
TestResults/
